.container {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;
}

.box {
    width: 100%;
    height: 50%;
    background: tomato;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    
}