<<<<<<< HEAD
body {
    background-color: rgba(rgb(194, 181, 181), rgb(137, 138, 137), rgb(100, 100, 129), 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.display {
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
    width: 280px;
}

input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    background-color: #1e1e1e;
    color: white;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 28px;
    border-radius: 50%;
    border: none;
    background-color: #ece8e8;
    color: rgb(35, 34, 34);
    cursor: pointer;
}

button:hover {
    background-color: #505050;
}

button[value="+"],
button[value="-"],
button[value="*"],
button[value="/"] {
    background-color: #cbd3e6;
}

button[value="="] {
    background-color: #8fb3e8;
    color: black;
}

button[value="C"] {
    background-color: #aa4444;
=======

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

.box {
  
  width: 150px;
  padding: 20px;
  background: lightgray;
  outline: 3px groove rgb(32, 31, 31);
  outline-offset: 4px;
  border-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: 0.3s;
}


.box:hover {
  background: rgb(228, 204, 141);
  color: white;
}
.box p {
  margin: 0;
  line-height: 1;      
  font-size: 20px;
  font-weight: bold;
}

p {
  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

svg {
  transform: translateX(3px);
  width: 19px;
  height: 19px;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: lightgray;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
    

}

.btn:hover {
  background: rgb(105, 105, 105);
  color: white;
  justify-content: center;
  align-items: center; 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
>>>>>>> clone
}