body {
    background: #282846;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header{
    background: #2c3e50;
    color: white;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn{
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover{
    background: #c0392b;
}


.wrapper {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    background: white;
}

.left {
    width: 30%;
    padding: 30px;
    border-right: 2px solid #eee;
}

.left h3 {
    margin-bottom: 20px;
}

.left input,
.left select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.left button {
    width: 100%;
    padding: 10px;
    background: #60b1c1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.left button:hover {
    background: #4fa2b2;
}

.right {
    width: 70%;
    padding: 30px;
}

.right table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.right th,
.right td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.right th {
    background: #282846;
    color: white;
}

.right button {
    padding: 5px 10px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right button:hover {
    opacity: 0.8;
}

#thongbao {
    margin-top: 10px;
    font-weight: bold;
    
}