body {
    background: #282846;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}


.login-btn {
    background: #282846;
    padding: 15px 40px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(227, 11, 97, 0.8);
    transition: 0.3s;
}

.login-btn:hover {
    transform: scale(1.05);
}

.login-form {
    margin-top: 20px;
    background: #2b2b40;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: 0.4s ease;
}

.login-form.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.login-form h2 {
    color: white;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
    transition: 0.3s;
}

.input-box input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border-radius: 25px;
    border: 1px solid #555;
    background: transparent;
    color: white;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #ff4b8b;
}

.input-box input:focus + i,
.input-box input:focus ~ i {
    color: #ff4b8b;
}

.login-form button {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #60b1c1;
    color: black;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.3s;
}

.login-form button:hover {
    transform: scale(1.05);
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.links a {
    text-decoration: none;
    color: #ff4b8b;
}

.logout-message {
    position: fixed;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    text-align: center;
    background: #fdfdfd;
    color: #333; 
    padding: 15px 25px;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    z-index: 9999;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    border-bottom: 4px solid #ff2d75;
}

.logout-message.show {
    top: 40px; 
    opacity: 1;
}